<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    {% include "cabecera.html"%}
        <h1>MI LISTA DE TAREAS</h1>

    <ol>
        {% for tarea in listado %}
            {% if tarea != 'Aprender Django' %}
                <li>{{ tarea }}</li>
            {% else %}
                <li style="color: red; font-size: 25px;">{{ tarea|upper }}</li>
            {% endif %}
        {% endfor %}
    </ol>
</body>
</html>